.containerContent {
    z-index: 9999;
    position: relative;
    margin-top: -50vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .masking {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        margin: auto;
        aspect-ratio: 1;
        background-color: white;
        // border-radius: 50pc;
        // -webkit-border-radius: 50pc;
        // -moz-border-radius: 50pc;
        // -ms-border-radius: 50pc;
        // -o-border-radius: 50pc;
    }

    .wrapper {
        width: 100vw;
        background-color: white;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        opacity: 0;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        color: black;

        &.show {
            opacity: 1;
        }

        p {
            margin: auto;
        }
    }

}