.section {
    min-height: 200vh;
    position: relative;
    display: flex;
    padding-top: 50vh;
}

.containerDroplets {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0px auto;

    .containerWater {
        width: 50px;
        height: 50px;
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 0px auto;

        .water {
            position: absolute;
            scale: 0.05;
            width: 265px;
            aspect-ratio: 1;
            background: white;
            -webkit-clip-path: path("M132.281,264.564c51.24,0,92.931-41.681,92.931-92.918c0-50.18-87.094-164.069-90.803-168.891L132.281,0l-2.128,2.773 c-3.704,4.813-90.802,118.71-90.802,168.882C39.352,222.883,81.042,264.564,132.281,264.564z");
            clip-path: path("M132.281,264.564c51.24,0,92.931-41.681,92.931-92.918c0-50.18-87.094-164.069-90.803-168.891L132.281,0l-2.128,2.773 c-3.704,4.813-90.802,118.71-90.802,168.882C39.352,222.883,81.042,264.564,132.281,264.564z");
            top: calc(-.9 * 100% - 75px);
            left: calc(-.9 * 100% - 62px);
        }
    }
}

.circle {
    position: sticky;
    top: 65vh;
}